<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Châu Ngân | Chi tiết hóa đơn</title>

    <%- include('../../../partials/css-admin'); %>
        <!--=============================================================================================-->
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <%- include('../../../partials/header-admin'); %>
            <!-- /.navbar -->

            <!-- Main Sidebar Container -->
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <!-- Brand Logo -->
                <a href="/admin/tongquan" class="brand-link">
                    <img src="../../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo"
                        class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light"><b>CHÂU NGÂN</b></span>
                </a>

                <!-- Sidebar -->
                <div class="sidebar">
                    <!-- Sidebar Menu -->
                    <%- include('../../../partials/menu-admin'); %>
                        <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>Chi tiết hóa đơn</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                                    <li class="breadcrumb-item active">Chi tiết hóa đơn</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <!-- <div class="card-header">
                                        <h3 class="card-title"></h3>
                                    </div> -->
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <a href="/admin/hoadon" class="btn btn-info btn-sm">Trở về</a>
                                        <!-- /.card -->

                                        <% const formatter=new Intl.NumberFormat('vi-VN', {minimumFractionDigits:
                                            0,});%>
                                            <div class="row">

                                                <div class="col-6">
                                                    <p><b>Số hóa đơn : </b>
                                                        <%= DetailHD[0].sohoadon %>
                                                    </p>
                                                    <p><b>Tên khách hàng :</b>
                                                        <% if(DetailHD[0].khachhang.tenkhachhang===null) {%>
                                                            <%= DetailHD[0].nonkhachhang.hovaten %>
                                                                <% } else { %>
                                                                    <%= DetailHD[0].khachhang.tenkhachhang %>
                                                                        <% } %>
                                                    </p>
                                                    <p><b>Địa chỉ : </b>
                                                        <%= DetailHD[0].diachigiaohang %>
                                                    </p>
                                                    <p><b>Tổng tiền : <%= formatter.format(DetailHD[0].tongtien) %>
                                                                VNĐ</b>

                                                    </p>
                                                </div>
                                                <div class="col-6">
                                                    <p><b>Loại hóa đơn : </b>
                                                        <% if(DetailHD[0].loaihoadon===1) { %>
                                                            Hóa đơn WEB
                                                            <% } else { %>
                                                                Hóa đơn Phần Mềm
                                                                <% } %>
                                                    </p>
                                                    <p><b>Tình trạng hóa đơn :</b>
                                                        <% if(DetailHD[0].trangthaihoadon===1) { %>
                                                            Đã xác nhận đơn hàng
                                                            <% } else if(DetailHD[0].trangthaihoadon===2){ %>
                                                                Đóng gói - Sẵn sàng giao hàng
                                                                <% } else if(DetailHD[0].trangthaihoadon===3) {%>
                                                                    Đang vận chuyển
                                                                    <% } else if(DetailHD[0].trangthaihoadon===4) {%>
                                                                        Hoàn thành
                                                                        <% } else if(DetailHD[0].trangthaihoadon>= 5)
                                                                            {%>
                                                                            Hóa đơn bị hủy
                                                                            <% } else {%>
                                                                                Hoàn thành
                                                                                <% } %>

                                                    </p>

                                                    <p><b>Hình thức thanh toán :</b>
                                                        <% if(DetailHD[0].hinhthucthanhtoan===0) { %>
                                                            Thanh toán COD
                                                            <% } else { %>
                                                                Nhận tại cửa hàng
                                                                <% } %>
                                                    </p>

                                                    <p><b>Trạng thái thanh toán :</b>
                                                        <% if(DetailHD[0].tinhtrang===1) { %>
                                                            Đã thanh toán
                                                            <% } else { %>
                                                                Chưa thanh toán
                                                                <% } %>
                                                    </p>
                                                </div>
                                            </div>

                                            <table id="example1" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Mã sản phẩm</th>
                                                        <th>Sản phẩm</th>
                                                        <th>Số lượng</th>
                                                        <th>Giá bán lẻ</th>
                                                        <th>Ưu đãi</th>
                                                        <th>Thành tiền</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for(var i=0; i < DetailHD.length; i++ ) { %>

                                                        <tr>
                                                            <td>
                                                                <%= DetailHD[i].sanphams.masanpham %>
                                                            </td>
                                                            <td>
                                                                <%= DetailHD[i].sanphams.tensanpham %>
                                                            </td>
                                                            <td>
                                                                <%= DetailHD[i].sanphams.chitiethoadon.soluong %>
                                                            </td>
                                                            <td>
                                                                <%= formatter.format(DetailHD[i].sanphams.giabanle) %>
                                                            </td>
                                                            <td>
                                                                Không có
                                                            </td>
                                                            <td>
                                                                <%= formatter.format(DetailHD[i].sanphams.chitiethoadon.soluong
                                                                    * DetailHD[i].sanphams.giabanle) %>
                                                                    VNĐ
                                                            </td>
                                                        </tr>
                                                        <% } %>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th>Mã sản phẩm</th>
                                                        <th>Sản phẩm</th>
                                                        <th>Số lượng</th>
                                                        <th>Giá bán lẻ</th>
                                                        <th>Ưu đãi</th>
                                                        <th>Thành tiền</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                            <!-- /.card -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.container-fluid -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->

            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- Script -->
    <%- include('../../../partials/js-admin'); %>
</body>

</html>