<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Châu Ngân | Khách hàng</title>

    <!-- Script -->
    <%- include('../../../partials/css-admin'); %>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <%- include('../../../partials/header-admin'); %>
            <!-- /.navbar -->

            <!-- Main Sidebar Container -->
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <!-- Brand Logo -->
                <a href="/admin/tongquan" class="brand-link">
                    <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo"
                        class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light"><b>CHÂU NGÂN</b></span>
                </a>

                <!-- Sidebar -->
                <div class="sidebar">

                    <!-- Sidebar Menu -->
                    <%- include('../../../partials/menu-admin'); %>
                        <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>Khách hàng</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                                    <li class="breadcrumb-item active">Khách hàng</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <!-- <div class="card-header">
                                        <h3 class="card-title"></h3>
                                    </div> -->

                                </div>
                                <!-- /.card -->

                                <div class="card">
                                    <!-- <div class="card-header">
                                        <h3 class="card-title"></h3>
                                    </div> -->
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <table id="example1" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên khách hàng</th>
                                                    <th>Loại</th>
                                                    <th>SĐT</th>
                                                    <th>Giới tính</th>
                                                    <th>Lần cuối mua hàng</th>
                                                    <th>Công nợ</th>
                                                    <th>Chi tiết</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if(listKhachHang.length> 0) { for ( var i= 0;i <
                                                        listKhachHang.length; i++ ){%>
                                                        <tr>
                                                            <td scope="row">
                                                                <%=(i+1)%>
                                                            </td>
                                                            <td>
                                                                <%=listKhachHang[i].tenkhachhang %>
                                                            </td>
                                                            <td>
                                                                <%=listKhachHang[i].loaikhachhang.tenloaikhachhang %>
                                                            </td>
                                                            <td>
                                                                <%=listKhachHang[i].sodienthoai %>
                                                            </td>
                                                            <%if(listKhachHang[i].gioitinh=='1' ){%>
                                                                <td>
                                                                    Nam
                                                                </td>
                                                                <%}else{%>
                                                                    <td>Nữ</td>
                                                                    <%}%>
                                                                        <td>
                                                                            <% var a=new
                                                                                Date(listKhachHang[i].lancuoimuahang) %>
                                                                                <% var b=a.getDate() +"/"+ (a.getMonth()
                                                                                    + 1) +"/"+ a.getFullYear() %>
                                                                                    <!-- <%=listKhachHang[i].lancuoimuahang %> -->
                                                                                    <%= b %>
                                                                        </td>
                                                                        <td style="color: red;">
                                                                            <% var x=new Intl.NumberFormat({
                                                                                style: 'currency' , currency: 'VND'
                                                                                }).format(listKhachHang[i].congno) %>
                                                                                <%= x %>
                                                                        </td>
                                                                        <td>
                                                                            <button type="button"
                                                                                class="btn btn-primary btn-sm"
                                                                                data-toggle="modal"
                                                                                data-target="#myModal">
                                                                                chi tiết
                                                                            </button>
                                                                        </td>
                                                        </tr>
                                                        <%}};%>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên khách hàng</th>
                                                    <th>Loại</th>
                                                    <th>SĐT</th>
                                                    <th>Giới tính</th>
                                                    <th>Lần cuối mua hàng</th>
                                                    <th>Công nợ</th>
                                                    <th>Chi tiết</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->

            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- Script -->
    <%- include('../../../partials/js-admin'); %>
</body>

</html>