<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Giỏ hàng</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%- include('../partials/css'); %>
  </head>

  <body class="animsition">
    <!-- Header -->
    <header class="header-v2">
      <%- include('../partials/header'); %>
    </header>

    <!-- sidebar -->
    <%- include('../partials/sidebar'); %>
    <!-- Cart -->
    <%- include('../partials/cart'); %>

    <% const formatter = new Intl.NumberFormat('vi-VN', {minimumFractionDigits: 0,});%>
    <% if(listCart !== null) { %>
    <!-- Detail Bill -->
    <section class="checkout-section spad">
      <div class="container">
          <form action="/order/placeorder" class="checkout-form" method="POST">
              <div class="row">
                  <div class="col-lg-6">
                    <div class="place-bill-info">
                      <h4>Thông tin hóa đơn</h4>
                      <div class="row">
                        <% if (infoKH !== null) { %>
                        <% 
                          if(infoKH.diachi !== null) {
                            const diachi = infoKH.diachi; 
                            const [duong, quanhuyen, tinhthanh] = diachi.split(',');                          
                        %>
                          <div class="col-lg-12 m-b-10">
                              <label>Họ và tên<span>*</span></label>            
                              <input type="text"  class="input-custom" name="hovaten" value="<%= infoKH.tenkhachhang === 'Chưa có tên' ? '' : infoKH.tenkhachhang %>">  
                              <% if(typeof errors_checkout != 'undefined') { %>
                                <% errors_checkout.forEach(function(errors_msg) { %>
                                  <% if(errors_msg.param === "hovaten") { %>
                                    <p class="message_err">*<%= errors_msg.msg %></p>
                                  <%}%>
                                <% }) %>
                              <% } %>
                          </div>
                          <div class="col-lg-12 m-b-10">
                            <label>Tỉnh/Thành phố<span>*</span></label>                       
                            <select class="input-custom" name="tinhthanh" >
                              <option value="">Tỉnh / Thành phố </option>
                            </select>
                            <% if(typeof errors_checkout != 'undefined') { %>
                              <% errors_checkout.forEach(function(errors_msg) { %>
                                <% if(errors_msg.param === "tinhthanh") { %>
                                  <p class="message_err">*<%= errors_msg.msg %></p>
                                <%}%>
                              <% }) %>
                            <% } %>
                        </div>
                        <div class="col-lg-12 m-b-10">
                          <label>Quận/Huyện</label>
                          <select class="input-custom" name="quanhuyen" >
                            <option value=""> Quận / Huyện </option>
                          </select>
                          <% if(typeof errors_checkout != 'undefined') { %>
                            <% errors_checkout.forEach(function(errors_msg) { %>
                              <% if(errors_msg.param === "quanhuyen") { %>
                                <p class="message_err">*<%= errors_msg.msg %></p>
                              <%}%>
                            <% }) %>
                          <% } %>
                        </div>
                          <div class="col-lg-12 m-b-10">
                              <label >Địa chỉ<span>*</span></label>
                              <input type="text" class="input-custom" name="diachi" value="<%= duong %>">
                              <% if(typeof errors_checkout != 'undefined') { %>
                                <% errors_checkout.forEach(function(errors_msg) { %>
                                  <% if(errors_msg.param === "diachi") { %>
                                    <p class="message_err">*<%= errors_msg.msg %></p>
                                  <%}%>
                                <% }) %>
                              <% } %>
                          </div>
                          <div class="col-lg-6 m-b-10">
                              <label>Email Address<span>*</span></label>
                              <input type="text" class="input-custom" name="email" value="<%= infoKH.email %>">
                              <% if(typeof errors_checkout != 'undefined') { %>
                                <% errors_checkout.forEach(function(errors_msg) { %>
                                  <% if(errors_msg.param === "email") { %>
                                    <p class="message_err">*<%= errors_msg.msg %></p>
                                  <%}%>
                                <% }) %>
                              <% } %>
                          </div>
                          <div class="col-lg-6 m-b-10">
                              <label>Phone<span>*</span></label>
                              <input type="text" class="input-custom" name="phone" value="<%= infoKH.sodienthoai%>">
                              <% if(typeof errors_checkout != 'undefined') { %>
                                <% errors_checkout.forEach(function(errors_msg) { %>
                                  <% if(errors_msg.param === "phone") { %>
                                    <p class="message_err">*<%= errors_msg.msg %></p>
                                  <%}%>
                                <% }) %>
                              <% } %>
                          </div>
                          <div class="col-lg-6 cbox-oldval">
                            <input type="checkbox" id="cbox-oldval" class="cbox-input"><label class="cbox-label">Ẩn thông tin cũ</label>
                          </div>
                          <% } else { %>
                            <div class="col-lg-12 m-b-10">
                              <label>Họ và tên<span>*</span></label>
                              <input type="text"  class="input-custom" name="hovaten">
                              <% if(typeof errors_checkout != 'undefined') { %>
                                <% errors_checkout.forEach(function(errors_msg) { %>
                                  <% if(errors_msg.param === "hovaten") { %>
                                    <p class="message_err">*<%= errors_msg.msg %></p>
                                  <%}%>
                                <% }) %>
                              <% } %>
                          </div>
                          <div class="col-lg-12 m-b-10">
                            <label>Tỉnh/Thành phố<span>*</span></label>                       
                            <select class="input-custom" name="tinhthanh" >
                              <option value="">Tỉnh / Thành phố </option>
                            </select>
                            <% if(typeof errors_checkout != 'undefined') { %>
                              <% errors_checkout.forEach(function(errors_msg) { %>
                                <% if(errors_msg.param === "tinhthanh") { %>
                                  <p class="message_err">*<%= errors_msg.msg %></p>
                                <%}%>
                              <% }) %>
                            <% } %>
                        </div>
                        <div class="col-lg-12 m-b-10">
                          <label>Quận/Huyện</label>
                          <select class="input-custom" name="quanhuyen" >
                            <option value=""> Quận / Huyện </option>
                          </select>
                          <% if(typeof errors_checkout != 'undefined') { %>
                            <% errors_checkout.forEach(function(errors_msg) { %>
                              <% if(errors_msg.param === "quanhuyen") { %>
                                <p class="message_err">*<%= errors_msg.msg %></p>
                              <%}%>
                            <% }) %>
                          <% } %>
                        </div>
                          <div class="col-lg-12 m-b-10">
                              <label >Địa chỉ<span>*</span></label>
                              <input type="text" class="input-custom" name="diachi">
                              <% if(typeof errors_checkout != 'undefined') { %>
                                <% errors_checkout.forEach(function(errors_msg) { %>
                                  <% if(errors_msg.param === "diachi") { %>
                                    <p class="message_err">*<%= errors_msg.msg %></p>
                                  <%}%>
                                <% }) %>
                              <% } %>
                          </div>
                          <div class="col-lg-6 m-b-10">
                              <label>Email Address<span>*</span></label>
                              <input type="text" class="input-custom" name="email">
                              <% if(typeof errors_checkout != 'undefined') { %>
                                <% errors_checkout.forEach(function(errors_msg) { %>
                                  <% if(errors_msg.param === "email") { %>
                                    <p class="message_err">*<%= errors_msg.msg %></p>
                                  <%}%>
                                <% }) %>
                              <% } %>
                          </div>
                          <div class="col-lg-6 m-b-10">
                              <label>Phone<span>*</span></label>
                              <input type="text" class="input-custom" name="phone">
                              <% if(typeof errors_checkout != 'undefined') { %>
                                <% errors_checkout.forEach(function(errors_msg) { %>
                                  <% if(errors_msg.param === "phone") { %>
                                    <p class="message_err">*<%= errors_msg.msg %></p>
                                  <%}%>
                                <% }) %>
                              <% } %>
                          </div>
                          
                          <% }} else { %>
                          <div class="col-lg-12 m-b-10">
                              <label>Họ và tên<span>*</span></label>
                              <input type="text" class="input-custom" name="hovaten">
                              <% if(typeof errors_checkout != 'undefined') { %>
                                <% errors_checkout.forEach(function(errors_msg) { %>
                                  <% if(errors_msg.param === "hovaten") { %>
                                    <p class="message_err">*<%= errors_msg.msg %></p>
                                  <%}%>
                                <% }) %>
                              <% } %>
                          </div>
                          <div class="col-lg-12 m-b-10">
                              <label>Tỉnh/Thành phố<span>*</span></label>                       
                              <select class="input-custom" name="tinhthanh" >
                                <option value="">Tỉnh / Thành phố </option>
                              </select>
                              <% if(typeof errors_checkout != 'undefined') { %>
                                <% errors_checkout.forEach(function(errors_msg) { %>
                                  <% if(errors_msg.param === "tinhthanh") { %>
                                    <p class="message_err">*<%= errors_msg.msg %></p>
                                  <%}%>
                                <% }) %>
                              <% } %>
                          </div>
                          <div class="col-lg-12 m-b-10">
                            <label>Quận/Huyện</label>
                            <select class="input-custom" name="quanhuyen" >
                              <option value=""> Quận / Huyện </option>
                            </select>
                            <% if(typeof errors_checkout != 'undefined') { %>
                              <% errors_checkout.forEach(function(errors_msg) { %>
                                <% if(errors_msg.param === "quanhuyen") { %>
                                  <p class="message_err">*<%= errors_msg.msg %></p>
                                <%}%>
                              <% }) %>
                            <% } %>
                          </div>
                          <div class="col-lg-12 m-b-10">
                              <label >Địa chỉ<span>*</span></label>
                              <input type="text" class="input-custom" name="diachi">
                              <% if(typeof errors_checkout != 'undefined') { %>
                                <% errors_checkout.forEach(function(errors_msg) { %>
                                  <% if(errors_msg.param === "diachi") { %>
                                    <p class="message_err">*<%= errors_msg.msg %></p>
                                  <%}%>
                                <% }) %>
                              <% } %>
                          </div>
                          <div class="col-lg-6 m-b-10">
                              <label>Email Address<span>*</span></label>
                              <input type="text" class="input-custom" name="email">
                              <% if(typeof errors_checkout != 'undefined') { %>
                                <% errors_checkout.forEach(function(errors_msg) { %>
                                  <% if(errors_msg.param === "email") { %>
                                    <p class="message_err">*<%= errors_msg.msg %></p>
                                  <%}%>
                                <% }) %>
                              <% } %>
                          </div>
                          <div class="col-lg-6 m-b-10">
                              <label>Phone<span>*</span></label>
                              <input type="text" class="input-custom" name="phone">
                              <% if(typeof errors_checkout != 'undefined') { %>
                                <% errors_checkout.forEach(function(errors_msg) { %>
                                  <% if(errors_msg.param === "phone") { %>
                                    <p class="message_err">*<%= errors_msg.msg %></p>
                                  <%}%>
                                <% }) %>
                              <% } %>
                          </div>
                          <% } %>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="place-order">
                          <h4>Chi tiết đơn đặt hàng</h4>
                          <div class="order-total">
                              <ul class="order-table">
                                  <li>Sản phẩm <span>Thành tiền</span></li>
                                  <% listCart.forEach((lCart) => { %>
                                  <% lCart.sanphams.forEach((lCart_SP) => { %>
                                  <li class="fw-normal">
                                    <%= lCart_SP.tensanpham %> x <%= lCart_SP.chitiethoadon.soluong %> 
                                    <span><%= formatter.format(lCart_SP.chitiethoadon.soluong * lCart_SP.giabanle) %> VNĐ</span>
                                  </li>
                                  <% });}); %>
                                  
                                  <li class="fw-normal">Tổng phụ <span><%= formatter.format(totalPrice) %> VNĐ</span></li>
                                  <% if(giasale >= 2) {%> 
                                    <li class="fw-normal">Ưu đãi khách hàng<span><%= giasale %>%</span></li>
                                    <% } %>
                                  <li class="total-price">Tổng cộng <span><%= formatter.format((parseInt(totalPrice))*(100 - giasale)/100) %> VNĐ</span></li>
                                  
                              </ul>     
                          </div>
                      </div>

                      <div class="place-order">
                        <h4>Phương pháp thanh toán</h4>                     
                        <div class="order-total">
                          <div class="rb-paymethod">
                            <label class="rb-container">Thanh toán COD
                              <input type="radio" name="rbpay" id="COD" value="0">
                              <span class="checkmark"></span>
                            </label>
                            <label class="rb-container">Nhận tại cửa hàng
                              <input type="radio" name="rbpay" id="nhantaicuahang" value="1">
                              <span class="checkmark"></span>
                            </label>                       
                          </div>
                          <% if(typeof errors_checkout != 'undefined') { %>
                            <% errors_checkout.forEach(function(errors_msg) { %>
                              <% if(errors_msg.param === "rbpay") { %>
                                <p class="message_err">*<%= errors_msg.msg %></p>
                              <%}%>
                            <% }) %>
                          <% } %>
                            <div class="order-btn">
                                <button type="submit" class="site-btn place-btn">Đặt hàng</button>
                            </div>
                        </div>
                    </div>
                  </div>
                  
              </div>
          </form>
      </div>
  </section>
  <!-- Shopping Cart Section End -->
  <% } %>

 <!-- Support section -->
 <section id="aa-support">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-support-area">
          <!-- single support -->
          <div class="col-12 col-md-12 col-lg-4 col-sm-12">
            <div class="aa-support-single">
              <span class="fa fa-truck"></span>
              <h4>Vận chuyển nhanh chóng</h4>
            </div>
          </div>
          <!-- single support -->
          <div class="col-12 col-md-12 col-lg-4 col-sm-12">
            <div class="aa-support-single">
              <span class="fa fa-clock-o"></span>
              <h4>Nhận đặt trước tại shop</h4>
            </div>
          </div>
          <!-- single support -->
          <div class="col-12 col-md-12 col-lg-4 col-sm-12">
            <div class="aa-support-single">
              <span class="fa fa-phone"></span>
              <h4>Hỗ trợ 24/7</h4>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Support section -->

    <!-- Footer -->
    <%- include('../partials/footer'); %>
    </footer>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
      <span class="symbol-btn-back-to-top">
        <i class="zmdi zmdi-chevron-up"></i>
      </span>
    </div>

    <!-- Script  -->
    <%- include('../partials/js'); %>
    <script>
    $(document).ready(function(){
    $('#cbox-oldval').change(function() { 
      if($(this).is(':checked')) {
        $('input[class="input-custom"]').each(function(){
          $(this).attr('data-value',$(this).val()).val("");
        });
      } else {
        $('input[class="input-custom"]').each(function(){
          $(this).val($(this).attr('data-value'));
        });
      }
    });
  })
    </script>
    <script src='https://cdn.jsdelivr.net/gh/vietblogdao/js/districts.min.js'></script>
    <script>
      $('select[name="tinhthanh"]').each(function() {
        var $this = $(this),
        stc = ''
        c.forEach(function(i) {         
          stc += '<option value="' + i + '">' + i + '</option>'
          $this.html('<option value="">Tỉnh / Thành phố</option>' + stc)
          $('select[name="tinhthanh"]').on('change', function() {
              var target = $(this).children('option:selected')
              target.attr('selected', '')
              $('select[name="tinhthanh"] option').not(target).removeAttr('selected')
          })
  
          $this.on('change', function(i) {
            i = $this.children('option:selected').index() - 1
            var str = '',
            r = $this.val()
          if (r != '') {
            arr[i].forEach(function(el) {
              str += '<option value="' + el + '">' + el + '</option>'
              $('select[name="quanhuyen"]').html('<option value="">Quận / Huyện</option>' + str)
            })
            $('select[name="quanhuyen"]').on('change', function() {
              var target = $(this).children('option:selected')
              target.attr('selected', '')
              $('select[name="quanhuyen"] option').not(target).removeAttr('selected')

            })
          } else {
            $('select[name="quanhuyen"]').html('<option value="">Quận / Huyện</option>')
          }
          })
        })
      })
    </script>
  </body>
</html>
