<!DOCTYPE html>
<html lang="en">

<head>
  <title>Giới thiệu</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%- include('../partials/css'); %>
</head>

<body class="animsition">
  <!-- Header -->
  <header class="header-v2">
    <%- include('../partials/header'); %>
  </header>

  <!-- sidebar -->
  <%- include('../partials/sidebar'); %>

    <!-- Cart -->
    <%- include('../partials/cart'); %>

      <!-- Title page -->
      <section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg')">
        <h2 class="ltext-105 cl0 txt-center">Giới thiệu</h2>
      </section>

      <!-- Content page -->
      <section class="bg0 p-t-75 p-b-120">
        <div class="container">
          <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
              <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                <h3 class="mtext-111 cl2 p-b-16">Giới thiệu</h3>

                <p class="stext-113 cl6 p-b-26">
                  Shop Thời Trang Châu Ngân với phương châm "Đồng hành cùng phong cách thời trang của bạn" sẽ là nơi mua
                  sắm an toàn và uy tín, bởi chúng tôi luôn đề cao tiêu chí mang đến cho quý khách những sản phẩm chất
                  lượng nhất với giá cả luôn phải chăng.
                </p>

                <p class="stext-113 cl6 p-b-26">
                  Shop Thời Trang Châu Ngân chuyên cung cấp:</br>
                  - Thời trang công sở.</br>
                  - Thời trang nam, nơi.</br>
                  - Thời trang cặp và đồng phục.</br>
                  với nhiều mặt hàng đa dạng và phong phú như áo thun, áo sơ mi, áo vest, đầm, váy, quần jean, quần
                  tây,.... sẽ là sự lựa chọn tốt nhất cho phong cách thời của các bạn.
                </p>

                <p class="stext-113 cl6 p-b-26">
                  Đặc biệt, hiện nay, shop đang hợp tác cùng với các xưởng thời trang công sở đặt may quần áo công sở
                  theo số đo của quý khách và in áo đồng phục, áo nhóm số lượng lớn.
                </p>
              </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
              <div class="how-bor1">
                <div class="hov-img0">
                  <img src="/images/about-01.jpg" alt="IMG" />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
              <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                <h3 class="mtext-111 cl2 p-b-16"></h3>

                <p class="stext-113 cl6 p-b-26">
                  Tuy Shop Thời Trang Châu Ngân hiện đã bán hàng online và bán tại shop nhưng luôn luôn đảm bảo uy tín
                  và chất lượng sản phẩm (Nếu trong quá trình mua - bán hàng xảy ra lỗi từ phía shop, chúng tôi sẽ hoàn
                  trả tiền và bồi thường thiệt hại cho quý khách)
                </p>

                <div class="bor16 p-l-29 p-b-9 m-t-22">
                  <p class="stext-114 cl6 p-r-40 p-b-11">
                    Mọi thắc mắc, tư vấn và đóng góp ý kiến xin liên hệ với chúng tôi qua:</br>
                    Số điện thoại: 0905 28 5151 (Mrs.Ngọc Oanh)</br>
                    Facebook Fanpage: https://www.facebook.com/pages/ChâuNgânShop</br>
                    Mail: chaunganfashionshop@gmail.com</br>
                    Địa chỉ: 70 Bà Triệu, P. Tân An, TP. Buôn Ma Thuột
                  </p>

                  <span class="stext-111 cl8">
                    Shop Thời Trang Châu Ngân
                    Hân Hạnh Được Phục Vụ Quý Khách!
                  </span>
                </div>
              </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
              <div class="how-bor2">
                <div class="hov-img0">
                  <img src="/images/about-02.jpg" alt="IMG" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Footer -->
      <%- include('../partials/footer'); %>
        <!-- End footer -->

        <!-- Back to top -->
        <div class="btn-back-to-top" id="myBtn">
          <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
          </span>
        </div>

        <!-- Script -->
        <%- include('../partials/js'); %>
</body>

</html>