<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Giỏ hàng</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%- include('../partials/css'); %>
  </head>

  <body class="animsition">
    <!-- Header -->
    <header class="header-v2">
      <%- include('../partials/header'); %>
    </header>

    <!-- sidebar -->
    <%- include('../partials/sidebar'); %>
    <!-- Cart -->
    <%- include('../partials/cart'); %>

    <!-- Shoping Cart -->
    <% const formatter = new Intl.NumberFormat('vi-VN', {minimumFractionDigits: 0,});%>
    <% if(listCart !== null && listCart[0].sanphams.length > 0) { %>
      <form action="/cart/checkout" method="GET" class="bg0 p-t-75 p-b-85">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
              <div class="m-l-25 m-r--38 m-lr-0-xl">
                <div class="wrap-table-shopping-cart">
                  <table class="table-shopping-cart">
                    <tr class="table_head">
                      <th class="column-1">Sản phẩm</th>
                      <th class="column-2"></th>
                      <th class="column-3">Giá</th>
                      <th class="column-4">Số lượng</th>
                      <th class="column-5">Tổng</th>
                      <th class="column-6"></th>
                    </tr>
  
                    <% for(var i = 0; i < listCart.length; i++ ) { %>
                    <% for(j in listCart[i].sanphams)  { %>
                    <tr class="table_row">
                      <td class="column-1">
                        <div class="how-itemcart1">
                          <img src="data:image/jpeg;base64, <%= listCart[i].sanphams[j].anhsanpham %>" alt="IMG" />
                        </div>
                      </td>
                      <td class="column-2"><%= listCart[i].sanphams[j].tensanpham %></td>
                      <td class="column-3"><%= formatter.format(listCart[i].sanphams[j].giabanle) %> VNĐ</td>
                      
                      <td class="column-4">
                          <%= listCart[i].sanphams[j].chitiethoadon.soluong %>                                   
                      </td>
                   
                      <td class="column-5"> <%= formatter.format(listCart[i].sanphams[j].giabanle * listCart[i].sanphams[j].chitiethoadon.soluong) %> VND</td>
                      <td class="column-6"><a href="/cart/removePrdCart/<%= listCart[i].sanphams[j].chitiethoadon.idchitiethoadon  %>" class=
                        "btn btn-danger"> Xóa </a></td>
                    </tr>
                    <% }} %>
                  </table>
                </div>
              </div>
            </div>
  
  
            <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
              <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                <h4 class="mtext-109 cl2 p-b-30">Thanh toán</h4>
  
                <div class="flex-w flex-t bor12 p-b-13">
                  <div class="size-208">
                    <span class="stext-110 cl2"> Tạm tính: </span>
                  </div>
                
                  <div class="size-209">
                    <span class="cl2"> <%= formatter.format(totalPrice) %> VNĐ </span>
                  </div>
                </div>
  
                <div class="flex-w flex-t p-t-27 p-b-33">
                  <div class="size-208">
                    <span class="mtext-101 cl2"> Thành tiền: </span>
                  </div>
  
                  <div class="size-209 p-t-1">
                    <span class="cl2"> <%= formatter.format(totalPrice) %> VNĐ </span>
                  </div>
                </div>
  
                <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                  Xác nhận thanh toán
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    <% } else { %>
      <div class="bg0 p-t-75 p-b-85">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xs-10 m-b-50">
              <div class="empty-cart-icon">
                <img src="/images/icons/empty-cart-icon.jpg" alt="IMG">
                <h5>Giỏ hàng trống</h5>
                <a href="/" class="empty-ctnshopping"> Mua sắm</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } %>

    
 <!-- Support section -->
 <section id="aa-support">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-support-area">
          <!-- single support -->
          <div class="col-12 col-md-12 col-lg-4 col-sm-12">
            <div class="aa-support-single">
              <span class="fa fa-truck"></span>
              <h4>Vận chuyển nhanh chóng</h4>
            </div>
          </div>
          <!-- single support -->
          <div class="col-12 col-md-12 col-lg-4 col-sm-12">
            <div class="aa-support-single">
              <span class="fa fa-clock-o"></span>
              <h4>Nhận đặt trước tại shop</h4>
            </div>
          </div>
          <!-- single support -->
          <div class="col-12 col-md-12 col-lg-4 col-sm-12">
            <div class="aa-support-single">
              <span class="fa fa-phone"></span>
              <h4>Hỗ trợ 24/7</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Support section -->
    <!-- Footer -->
    <%- include('../partials/footer'); %>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
      <span class="symbol-btn-back-to-top">
        <i class="zmdi zmdi-chevron-up"></i>
      </span>
    </div>

    <!-- Script  -->
    <%- include('../partials/js'); %>
  </body>
</html>
